.c1{ color: red;}

.c2{ color: rgba(46, 65, 233, 0.795); }

.c3{ text-decoration: none; color: rgb(231, 227, 16); }

.c4{ color: red; }

.c5{ color: red ; text-decoration: none; }

.c6{ color: red; text-decoration: none; }

.c7{ color: rgb(221, 211, 17); }